<div class="centered-panel">
<p id="notice"><%= notice %></p>

<h1>Players</h1>
<h3><%= link_to 'New Player', new_player_path %></h3>

<% number = 10 %>

<% @players.map(&:session).uniq.each do |session| %>
  <% number = number + 10 - (number % 10) %>

  <table class="player-table">
    <%= render template: 'players/_index_head', locals: {session: session} %>

    <tbody>
      <% @players.where(session: session).each do |player| %>
        <% number += 1 if !player.goalkeeper? && (number % 10) == 0 %>
        <%= render template: 'players/_index_player', locals: {player: player, number: number += 1} %>
      <% end %>
    </tbody>
  </table>
  <br/>
<% end %>
