body {
    background-color: $_GRAY;
}

.season {
    background-color: #DCC000;
    margin-top: 10px;
    min-width: 640px;
}

.season-title {
    background-color: #AAAAAA;
}

.season-info-container {
    display: flex;
}

.season-info {
    display: flex;
    justify-content: center;
    min-width: 30px;
}

.player {
    background-color: #DCDCDC;
}