.player-table {
  background-color: #FFF;
  border-spacing: 0px;
}

.player-table th {
  background-color: #5E9FFF;
}

.player-table .under-age {
  background-color: #DCC000;
}

.player-table .player {
  background-color: #DCDCDC;
}
