<!DOCTYPE html>
<html>
<head>
  <title>MzYouth</title>
  <link rel="stylesheet" media: "all" href="/bootstrap-reboot.min.css">
  <link rel="stylesheet" media: "all" href="/bootstrap-grid.min.css">
  <link rel="stylesheet" media: "all" href="/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="root"></div>
  <script src="/bundle.js"></script>
</body>
</html>
